---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const skills: Array<{ title: string; knowledge: number }> = [
	{
		title: "JavaScript",
		knowledge: 90,
	},
	{
		title: "CSS",
		knowledge: 95,
	},
	{
		title: "HTML",
		knowledge: 100,
	},
	{
		title: "Python",
		knowledge: 95,
	},
	{
		title: "Relational Databases",
		knowledge: 80,
	},
	{
		title: "MongoDB",
		knowledge: 85,
	},
	{
		title: "Communication",
		knowledge: 100,
	},
	{
		title: "Customer Service",
		knowledge: 100,
	},
	{
		title: "Marketing and Content Creation",
		knowledge: 100,
	},
	{
		title: "React",
		knowledge: 95,
	},
	{
		title: "Go Lang",
		knowledge: 70,
	},
	{
		title: "Algorithms and Data Structures",
		knowledge: 85,
	},
];

const services: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Full Stack Web Development",
		desc: "Design and create software and web applications that utilize modern backend and front-end technologies.",
		href: "/services",
	},
	{
		title: "Content Creation Services",
		desc: "Create content that uses storytelling principles to engage users and bring awareness to your brand.",
		href: "/services",
	},
	{
		title: "Brand/Marketing Consulting",
		desc: "Provide consultation services for SEO, email, social media, and content marketing campaigns and make sure they align with objectives and goals of your brand.",
		href: "/services",
	},
	{
		title: "General Business Consulting",
		desc: "Utilize experience in finance, supply chain management, ecommerce, and entrepreneurship to help small businesses make strategic decisions.",
		href: "/services",
	},
];

const projects: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Array String Music Player",
		desc: "An MP3 music player created with JavaScript, HTML, and CSS",
		href: "/projects/array-string-music-player",
	},
	{
		title: "Calorie Calculator Form",
		desc: "A project that calculates your caloric intake, built with JavaScript, HTML, and CSS",
		href: "/projects/calorie-calculator-form",
	},
	{
		title: "Andrew Weisbeck Portfolio",
		desc: "This website that I created to showcase my portfolio of work and skills",
		href: "/projects/andrew-weisbeck-portfolio",
	},
	{
		title: "Geaux Tweet",
		desc: "A Twitter clone built with Next.js, Tailwind CSS, GitHub, and Supabase",
		href: "/projects/geaux-tweet",
	},
];

const experience: Array<{ title: string; company: string; date: string; desc: string }> = [
	{
		title: "Freelance Full Stack Developer",
		company: "Tar Heel Dev Studio",
		date: "November 2021 - Present",
		desc: "Design and create web applications for clients and offer other services like content creation, brand/marketing consulting, and social media management.",
	},
	{
		title: "SOC Analyst",
		company: "Iron Range Cyber (formerly CyberOpz)",
		date: "June 2021 - November 2021",
		desc: "Monitored endpoints, performed security triage, and coordinated responses to critical security incidents with teammates. Created and communicated monthly security reports to clients while servicing all their cyber security needs.",
	},
	{
		title: "Personal Banker IV",
		company: "Truist Bank (formerly SunTrust)",
		date: "April 2019 - August 2020",
		desc: "Provided financial confidence to bank clients by offering bank products and services including deposit and savings accounts, credit cards, Home Equity Lines of Credit, Small Business Loans, and other business banking products.",
	},
	{
		title: "Purchasing and Inventory Manager",
		company: "Birddog Distributing Inc.",
		date: "October 2017 - April 2019",
		desc: "Managed supply chain logistics, created and submitted purchase orders to manufacturers, coordinated quality control standards on products, and maintained entire warehouse inventory of LED lights, bicycle engines, and metal garden markers for an ecommerce company.",
	},
	{
		title: "Financial Representative",
		company: "TD Ameritrade Inc",
		date: "September 2014 - June 2016",
		desc: "Placed stock, mutual fund, and option trades for clients as a broker of TD Ameritrade Inc. Cross sold other products that help clients place trades more effectively and accurately.",
	},
	{
		title: "College Savings Representative",
		company: "Union Bank and Trust",
		date: "November 2011 - September 2014",
		desc: "Serviced 529 college saving plans for the Alabama College Counts 529 plan and the Illinois Bright Directions 529 plan.",
	},
];



---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Andrew Weisbeck - Freelance Full Stack Web Developer</h1>
		<p class="mb-4 sm:mb-8">
			Hey y'all! My name is Andrew and I'm a 32 year old full-stack web developer who lives in the Raleigh-Durham-Chapel Hill area of North Carolina with my fiancé Lisa. I am currently seeking new career opportunities, hopefully in software development.
		</p>
		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="title">Experience</h2>
		<ul class="space-y-4 sm:space-y-2">
			{experience.map(({ title, company, date, desc }) => (
				<li>
					<h3 class="text-md font-bold inline-block">{title} | </h3>
					<h3 class="text-md text-cyan-300 font-bold inline-block">{company} |</h3>
					<p class="text-md font-semibold text-emerald-300 inline-block">{date}</p>
					<p class="mt-2">{desc}</p>
				</li>
			))}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title">Services</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				services.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cody-link inline-block"
						>
							{title}
						</a>:
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<div class="inline-block">
		<h2 class="title">Projects</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				projects.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cody-link inline-block"
						>
							{title}
						</a>
						<p class="inline-block sm:mt-2">| {desc}</p>
					</li>
				))
			}
		</ul>
		</div>
	</section>

		<section class="mt-16">
		<div class="inline-block">
			<h2 class="title">Posts</h2>
			<ul class="space-y-4 sm:space-y-2">
				{allPostsByPinned.map(p => <PostPreview post={p}/>)}
			</ul>
		</div>
	</section>


</BaseLayout>
